@use "./header";
@use "./footer";
@use "./homepage";
@use "./beerhistory";
@use "./beerclassification";
@use "./beervideo";
@use "./winehistory";
@use "./wineclassification";
@use "./winevideo";

body {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    color: rgb(26, 26, 26);
    background: rgb(255, 255, 255);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 25px;
}

